*{
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  overflow: hidden;
}
.mainDiv{
  position: relative;
  top: -270px;
}
button{
  
  background-color: gray;
  color: black;
  border-radius: 10px;
  margin-right:5px;
  margin-left: -2.5px;
  margin-block: 5px;
  padding-inline: 13vw;
  padding-block: 3vh;
}

button:active{
  background-color: cyan;
}
div{
  position: relative;
  margin-block: 100px;
  top: 50px;
}
table{
  position: relative;
  bottom: 20px
  paddin-block: 10px;
}
input{
  padding-block: 10px;
  padding-inline: 12px;
  border: 1px solid gray;
  border-radius: 5px 0px 5px 0px;
}
.mult{
  background-color: orange;
}
.add{
  background-color: limegreen;
}
.sub{
  background-color: pink;
}